/* this css file will only style the homepage of our site */

#movie-poster {
  height: 15%;
  width: 15%;
}

#my-portrait{
  height: 25%;
  width: 25%;
}

a:link {
  color: rgb(255, 29, 150);
}
a:visited {
  color: rgb(255, 51, 0)
}