/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color: #fffef7;
  
}

/* Text CSS */
.header {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 25px;
  border: solid 2px #FE6000;
  background-color:#EEB1DD;
  color:#FE6000;
  border-radius: 15px;
  margin-left:300px;
  margin-right:300px;
}

h1 {
  background-color:#EEB1DD;
  border: solid 2px #EEB1DD;
  color:#FE6000;
  font-size: 75px;

}

.header p {
  padding: 4px;
  font-style: italic;
}

h2 {
  text-align: left;
  font-size: 20px;
  padding: 10px;
  margin: 1px;}

body {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
}

.minor-section p {
  margin-left: 30px;
  margin-right: 50px;
  font-size: 18px;
  color: #232001;
  text-align: center;
}

.title-color {
  color: #EFE04B;
  font-size: 25px;
}

.minor-section {
  text-align: left;
  padding: 10px;
  margin: 30px;
  outline-style: solid;
  background-color:#6A6103;
  border: solid 2px #232001;
  border-radius: 15px;
  font-weight: 550;
  margin-left:175px;
  margin-right:175px;
}

.minor-section-background{
  background-color: #F2EFEA;
  margin: 40px;
  padding: 10px;
  border-radius: 15px;
  margin-left:100px;
  margin-right:100px;
}

.logo-section {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 30%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

#next {
  border-radius: 10px;
  background-color: #EFE04B;
  border-color: #20531C;
  color: #20531C;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.button-section {
  display: grid;
  place-items: center;
}

a:link {
  color: #E0A4AB;
}
a:visited {
  color: #E0A4AB;
}