

.highlight-snap {
    color: #F4F470; 
    font-weight: bold;
}

.highlight-crackle {
    color: #66A375;
    font-weight: bold;
}

.highlight-pop {
    color: #ffbdc4; 
    font-weight: bold;
}

.highlight-snapcrackle {
    color: #cb8dff; 
    font-weight: bold;
}

.highlight-snapop {
    color: #E0363F; 
    font-weight: bold;
}

.highlight-cracklepop {
    color: #b7e2e0; 
    font-weight: bold;
}

.highlight-snapcracklepop {
    color: #deace0; 
    font-weight: bold;
}

h3 {
    background-color: #3d3e1c;
    color:#F2EFEA;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 3px;
    border-radius: 15px;

}

#output {
    display: flex;
    flex-wrap: wrap;
    background-color: #2c2d13;
    color:#F2EFEA;
    border-radius: 15px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#output p {
    width: 20%; /* percentage dictates the number of columns */
    box-sizing: border-box; 
    font-size: 20px;
}
