#comicContainer {
    display: none;
}

#comicTitle {
    background-color: #b3b46f;
    border: solid 2px;
    color:#373819;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

#comicImage {
    display: block;
    margin: 20px auto;
}

#comicAlt {
    text-align: center;
    color: #b3b46f;
    text-decoration: underline 1px;
}

#find {
    border-radius: 15px;
    background-color:#E0A4AB;
    border: solid 3px #373819;
    color: #373819;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    cursor: pointer;    
}

#next {
    border-radius: 15px;
    background-color: #373819;
    border: solid 3px #E0A4AB;
    color: #E0A4AB;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    cursor: pointer;    
}

#prev {
    border-radius: 15px;
    background-color:#373819;
    border: solid 3px #E0A4AB;
    color: #E0A4AB;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    cursor: pointer;    
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*   background-color:#E0A4AB;
  556968 */