/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.assignments.major-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #fffbd2;
  border-radius: 5px;

}

#lab-img {
  border-radius: 15px;
  max-width: 550px;
}

