
/* Img upload  */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 800px; /* Increase the max-width for a wider layout */
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  height: 200px; /* Set a fixed height for the images */
  width: 33.33%; /* Set the width to 1/3 of the container */
  object-fit: cover; /* Scale the images while maintaining their aspect ratio */
  border-radius: 8px; /* Add rounded corners for a nicer look */
  margin-bottom: 10px; /* Add some spacing between images */
}