
h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  color: #F2EFEA;
}

.gorillazSort {
  border-radius: 15px;
  border: solid 2px #000000;
  background-color: #282828;
  padding: 40px;
  margin: 0 auto; /* This will horizontally center the input field */
  margin-top: 18px;
  display: block; /* Ensure it's a block-level element to set a width */
  width: 70%; 
  text-align: center;
  color: #F2EFEA;
}

img {
  max-width: 40%;
  margin-top: 1px;
  height: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.murdoc-name {
  color: #78ff78; 
  font-weight: bolder;
  font-size:larger;
}

.noodle-name {
  color: #78efff; 
  font-weight: bolder;
  font-size:larger;
}

.russel-name {
  color: #ffe978; 
  font-weight: bolder;
  font-size:larger;
}

.twod-name{
  color: #ff788a; 
  font-weight: bolder;
  font-size:larger;
}