/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.container {
  text-align: center;
  margin-top: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  width: 20%;
  border-radius: 15px;
}

.biography {
  padding: 10px;
  margin: 25px;
  outline-style: solid;
  outline-width: 1px;
  outline-color:rgb(41,46,30);
  background-color:#d2f5ff;
  border-radius: 5px;
}


